body {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
}


h1 {
    text-align: center;
    color: #333;
}


label {
    font-weight: bold;
    margin-bottom: 6px;
    display: block;
}


input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #e00c0c;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #e00c0c;
}

.sexo-container {
    display: flex;
    gap: 10px;
}


.sexo-container input[type="radio"] {
    display: none;
}


.botao-sexo {
    padding: 10px 20px;
    border: 2px solid #444;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}


.botao-sexo:hover {
    background-color: #e00c0c;
}


.sexo-container input[type="radio"]:checked+.botao-sexo {
    background-color: #e00c0c;
    color: white;
    border-color: #e00c0c;
}